# IST769 Final Exam

**INSTRUCTIONS FOR HIGHEST GRADE POSSIBLE**

Unless you are explicitly instructed otherwise, answer each of the following using PySpark / Spark SQL. For any queries you write make sure to include a `printSchema()` and sample(s) of the output which clearly demonstrates the code is correct.

In [1]:
! sudo cp /home/jovyan/work/jars/neo4j-connector-apache-spark_2.12-4.1.0_for_spark_3.jar /usr/local/spark/jars/neo4j-connector-apache-spark_2.12-4.1.0_for_spark_3.jar

In [2]:
!pip install -q cassandra-driver

In [3]:
! pip install minio

Collecting minio
  Downloading minio-7.1.14-py3-none-any.whl (77 kB)
     |████████████████████████████████| 77 kB 611 kB/s eta 0:00:01
Requirement already satisfied: urllib3 in /opt/conda/lib/python3.9/site-packages (from minio) (1.26.6)
Requirement already satisfied: certifi in /opt/conda/lib/python3.9/site-packages (from minio) (2021.5.30)
Installing collected packages: minio
Successfully installed minio-7.1.14

In [4]:
import pyspark
from pyspark.sql import SparkSession

In [5]:
# YOUR NAME ========>   Shruti Varma
# YOUR SU EMAIL ====>  svarma@syr.edu

### Question 1

In the cell below configure a spark session that is configured to connect to `mongodb`, `minio`, `cassandra`, '`elasticsearch` and `neo4j`.

In [6]:
#1 Spark session

#CONFIGURATION
s3_host = "minio"
s3_url = f"http://{s3_host}:9000"
s3_key = "minio"
s3_secret = "SU2orange!"
s3_bucket = "minio-example"
bolt_url = "bolt://neo4j:7687"
mongo_uri = "mongodb://admin:mongopw@mongo:27017/admin?authSource=admin"
cassandra_host = "cassandra"
elastic_host = "elasticsearch"
elastic_port = "9200"

# Spark init
spark = SparkSession.builder \
    .master("local") \
    .appName('jupyter-pyspark') \
    .config("spark.jars.packages","org.apache.hadoop:hadoop-aws:3.1.2,org.mongodb.spark:mongo-spark-connector_2.12:3.0.1,com.datastax.spark:spark-cassandra-connector-assembly_2.12:3.1.0,org.elasticsearch:elasticsearch-spark-20_2.12:7.15.0")\
    .config("spark.hadoop.fs.s3a.endpoint", s3_url) \
    .config("spark.hadoop.fs.s3a.access.key", s3_key) \
    .config("spark.hadoop.fs.s3a.secret.key", s3_secret) \
    .config("spark.hadoop.fs.s3a.fast.upload", True) \
    .config("spark.hadoop.fs.s3a.path.style.access", True) \
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
    .config("spark.mongodb.input.uri", mongo_uri) \
    .config("spark.mongodb.output.uri", mongo_uri) \
    .config("spark.cassandra.connection.host", cassandra_host) \
    .config("spark.es.nodes", elastic_host) \
    .config("spark.es.port",elastic_port) \
    .getOrCreate()

sc = spark.sparkContext
sc.setLogLevel("ERROR")

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release

:: loading settings :: url = jar:file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/ivy-2.4.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/jovyan/.ivy2/cache
The jars for the packages stored in: /home/jovyan/.ivy2/jars
org.apache.hadoop#hadoop-aws added as a dependency
org.mongodb.spark#mongo-spark-connector_2.12 added as a dependency
com.datastax.spark#spark-cassandra-connector-assembly_2.12 added as a dependency
org.elasticsearch#elasticsearch-spark-20_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-fb9ac327-d68a-4803-bdc7-0bc026791f34;1.0
	confs: [default]
	found org.apache.hadoop#hadoop-aws;3.1.2 in central
	found com.amazonaws#aws-java-sdk-bundle;1.11.271 in central
	found org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 in central
	found org.mongodb#mongodb-driver-sync;4.0.5 in central
	found org.mongodb#bson;4.0.5 in central
	found org.mongodb#mongodb-driver-core;4.0.5 in central
	found com.datastax.spark#spark-cassandra-connector-assembly_2.12;3.1.0 in central
	found org.elasticsearch#elasticsearch-spark-20_2.12;7.15.0 in central
	found org.scala-lang#scala-reflect;2.12.8 in central
	found org.slf4j#slf4j-api;1.7.6 in central
	found commons-logging#commons-logging;1.1.1 in central
	found javax.xml.bind#jaxb-api;2.3.1 in central
	found com.google.protobuf#protobuf-java;2.5.0 in central
	found org.apache.spark#spark-yarn_2.12;2.4.4 in central
downloading https://repo1.maven.org/maven2/org/apache/hadoop/hadoop-aws/3.1.2/hadoop-aws-3.1.2.jar ...
	[SUCCESSFUL ] org.apache.hadoop#hadoop-aws;3.1.2!hadoop-aws.jar (189ms)
downloading https://repo1.maven.org/maven2/org/mongodb/spark/mongo-spark-connector_2.12/3.0.1/mongo-spark-connector_2.12-3.0.1.jar ...
	[SUCCESSFUL ] org.mongodb.spark#mongo-spark-connector_2.12;3.0.1!mongo-spark-connector_2.12.jar (158ms)
downloading https://repo1.maven.org/maven2/com/datastax/spark/spark-cassandra-connector-assembly_2.12/3.1.0/spark-cassandra-connector-assembly_2.12-3.1.0.jar ...
	[SUCCESSFUL ] com.datastax.spark#spark-cassandra-connector-assembly_2.12;3.1.0!spark-cassandra-connector-assembly_2.12.jar (2645ms)
downloading https://repo1.maven.org/maven2/org/elasticsearch/elasticsearch-spark-20_2.12/7.15.0/elasticsearch-spark-20_2.12-7.15.0.jar ...
	[SUCCESSFUL ] org.elasticsearch#elasticsearch-spark-20_2.12;7.15.0!elasticsearch-spark-20_2.12.jar (377ms)
downloading https://repo1.maven.org/maven2/com/amazonaws/aws-java-sdk-bundle/1.11.271/aws-java-sdk-bundle-1.11.271.jar ...
	[SUCCESSFUL ] com.amazonaws#aws-java-sdk-bundle;1.11.271!aws-java-sdk-bundle.jar (21679ms)
downloading https://repo1.maven.org/maven2/org/mongodb/mongodb-driver-sync/4.0.5/mongodb-driver-sync-4.0.5.jar ...
	[SUCCESSFUL ] org.mongodb#mongodb-driver-sync;4.0.5!mongodb-driver-sync.jar (55ms)
downloading https://repo1.maven.org/maven2/org/mongodb/bson/4.0.5/bson-4.0.5.jar ...
	[SUCCESSFUL ] org.mongodb#bson;4.0.5!bson.jar (113ms)
downloading https://repo1.maven.org/maven2/org/mongodb/mongodb-driver-core/4.0.5/mongodb-driver-core-4.0.5.jar ...
	[SUCCESSFUL ] org.mongodb#mongodb-driver-core;4.0.5!mongodb-driver-core.jar (348ms)
:: resolution report :: resolve 12242ms :: artifacts dl 25595ms
	:: modules in use:
	com.amazonaws#aws-java-sdk-bundle;1.11.271 from central in [default]
	com.datastax.spark#spark-cassandra-connector-assembly_2.12;3.1.0 from central in [default]
	com.google.protobuf#protobuf-java;2.5.0 from central in [default]
	commons-logging#commons-logging;1.1.1 from central in [default]
	javax.xml.bind#jaxb-api;2.3.1 from central in [default]
	org.apache.hadoop#hadoop-aws;3.1.2 from central in [default]
	org.apache.spark#spark-yarn_2.12;2.4.4 from central in [default]
	org.elasticsearch#elasticsearch-spark-20_2.12;7.15.0 from central in [default]
	org.mongodb#bson;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-core;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-sync;4.0.5 from central in [default]
	org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 from central in [default]
	org.scala-lang#scala-reflect;2.12.8 from central in [default]
	org.slf4j#slf4j-api;1.7.6 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   14  |   14  |   14  |   0   ||   8   |   8   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-fb9ac327-d68a-4803-bdc7-0bc026791f34
	confs: [default]
	8 artifacts copied, 0 already retrieved (103971kB/17912ms)
23/04/30 20:28:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/04/30 20:28:44 ERROR Inbox: Ignoring error
java.lang.NullPointerException
	at org.apache.spark.storage.BlockManagerMasterEndpoint.org$apache$spark$storage$BlockManagerMasterEndpoint$$register(BlockManagerMasterEndpoint.scala:524)
	at org.apache.spark.storage.BlockManagerMasterEndpoint$$anonfun$receiveAndReply$1.applyOrElse(BlockManagerMasterEndpoint.scala:116)
	at org.apache.spark.rpc.netty.Inbox.$anonfun$process$1(Inbox.scala:103)
	at org.apache.spark.rpc.netty.Inbox.safelyCall(Inbox.scala:213)
	at org.apache.spark.rpc.netty.Inbox.process(Inbox.scala:100)
	at org.apache.spark.rpc.netty.MessageLoop.org$apache$spark$rpc$netty$MessageLoop$$receiveLoop(MessageLoop.scala:75)
	at org.apache.spark.rpc.netty.MessageLoop$$anon$1.run(MessageLoop.scala:41)
	at java.base/java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:515)
	at java.base/java.util.concurrent.FutureTask.run(FutureTask.java:264)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
23/04/30 20:28:44 WARN Executor: Issue communicating with driver in heartbeater
org.apache.spark.SparkException: Exception thrown in awaitResult:
	at org.apache.spark.util.ThreadUtils$.awaitResult(ThreadUtils.scala:301)
	at org.apache.spark.rpc.RpcTimeout.awaitResult(RpcTimeout.scala:75)
	at org.apache.spark.rpc.RpcEndpointRef.askSync(RpcEndpointRef.scala:103)
	at org.apache.spark.rpc.RpcEndpointRef.askSync(RpcEndpointRef.scala:87)
	at org.apache.spark.storage.BlockManagerMaster.registerBlockManager(BlockManagerMaster.scala:78)
	at org.apache.spark.storage.BlockManager.reregister(BlockManager.scala:589)
	at org.apache.spark.executor.Executor.reportHeartBeat(Executor.scala:1000)
	at org.apache.spark.executor.Executor.$anonfun$heartbeater$1(Executor.scala:212)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1996)
	at org.apache.spark.Heartbeater$$anon$1.run(Heartbeater.scala:46)
	at java.base/java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:515)
	at java.base/java.util.concurrent.FutureTask.runAndReset(FutureTask.java:305)
	at java.base/java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.run(ScheduledThreadPoolExecutor.java:305)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: java.lang.NullPointerException
	at org.apache.spark.storage.BlockManagerMasterEndpoint.org$apache$spark$storage$BlockManagerMasterEndpoint$$register(BlockManagerMasterEndpoint.scala:524)
	at org.apache.spark.storage.BlockManagerMasterEndpoint$$anonfun$receiveAndReply$1.applyOrElse(BlockManagerMasterEndpoint.scala:116)
	at org.apache.spark.rpc.netty.Inbox.$anonfun$process$1(Inbox.scala:103)
	at org.apache.spark.rpc.netty.Inbox.safelyCall(Inbox.scala:213)
	at org.apache.spark.rpc.netty.Inbox.process(Inbox.scala:100)
	at org.apache.spark.rpc.netty.MessageLoop.org$apache$spark$rpc$netty$MessageLoop$$receiveLoop(MessageLoop.scala:75)
	at org.apache.spark.rpc.netty.MessageLoop$$anon$1.run(MessageLoop.scala:41)
	at java.base/java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:515)
	at java.base/java.util.concurrent.FutureTask.run(FutureTask.java:264)
	... 3 more
23/04/30 20:28:57 ERROR Inbox: Ignoring error
java.lang.NullPointerException
	at org.apache.spark.storage.BlockManagerMasterEndpoint.org$apache$spark$storage$BlockManagerMasterEndpoint$$register(BlockManagerMasterEndpoint.scala:524)
	at org.apache.spark.storage.BlockManagerMasterEndpoint$$anonfun$receiveAndReply$1.applyOrElse(BlockManagerMasterEndpoint.scala:116)
	at org.apache.spark.rpc.netty.Inbox.$anonfun$process$1(Inbox.scala:103)
	at org.apache.spark.rpc.netty.Inbox.safelyCall(Inbox.scala:213)
	at org.apache.spark.rpc.netty.Inbox.process(Inbox.scala:100)
	at org.apache.spark.rpc.netty.MessageLoop.org$apache$spark$rpc$netty$MessageLoop$$receiveLoop(MessageLoop.scala:75)
	at org.apache.spark.rpc.netty.MessageLoop$$anon$1.run(MessageLoop.scala:41)
	at java.base/java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:515)
	at java.base/java.util.concurrent.FutureTask.run(FutureTask.java:264)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
23/04/30 20:28:57 WARN Executor: Issue communicating with driver in heartbeater
org.apache.spark.SparkException: Exception thrown in awaitResult:
	at org.apache.spark.util.ThreadUtils$.awaitResult(ThreadUtils.scala:301)
	at org.apache.spark.rpc.RpcTimeout.awaitResult(RpcTimeout.scala:75)
	at org.apache.spark.rpc.RpcEndpointRef.askSync(RpcEndpointRef.scala:103)
	at org.apache.spark.rpc.RpcEndpointRef.askSync(RpcEndpointRef.scala:87)
	at org.apache.spark.storage.BlockManagerMaster.registerBlockManager(BlockManagerMaster.scala:78)
	at org.apache.spark.storage.BlockManager.reregister(BlockManager.scala:589)
	at org.apache.spark.executor.Executor.reportHeartBeat(Executor.scala:1000)
	at org.apache.spark.executor.Executor.$anonfun$heartbeater$1(Executor.scala:212)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1996)
	at org.apache.spark.Heartbeater$$anon$1.run(Heartbeater.scala:46)
	at java.base/java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:515)
	at java.base/java.util.concurrent.FutureTask.runAndReset(FutureTask.java:305)
	at java.base/java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.run(ScheduledThreadPoolExecutor.java:305)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: java.lang.NullPointerException
	at org.apache.spark.storage.BlockManagerMasterEndpoint.org$apache$spark$storage$BlockManagerMasterEndpoint$$register(BlockManagerMasterEndpoint.scala:524)
	at org.apache.spark.storage.BlockManagerMasterEndpoint$$anonfun$receiveAndReply$1.applyOrElse(BlockManagerMasterEndpoint.scala:116)
	at org.apache.spark.rpc.netty.Inbox.$anonfun$process$1(Inbox.scala:103)
	at org.apache.spark.rpc.netty.Inbox.safelyCall(Inbox.scala:213)
	at org.apache.spark.rpc.netty.Inbox.process(Inbox.scala:100)
	at org.apache.spark.rpc.netty.MessageLoop.org$apache$spark$rpc$netty$MessageLoop$$receiveLoop(MessageLoop.scala:75)
	at org.apache.spark.rpc.netty.MessageLoop$$anon$1.run(MessageLoop.scala:41)
	at java.base/java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:515)
	at java.base/java.util.concurrent.FutureTask.run(FutureTask.java:264)
	... 3 more

### Question 2

Demonstrate you can read the process-oriented data `enrollments` and `sections` from `minio` using PySpark.

In [7]:
#2a enrollments

enrollments = spark.read.csv("s3a://enrollments/enrollments.csv",header=True)
#enrollments = enrollments.withColumn("grade_points", col("grade_points").cast("integer"))

In [8]:
enrollments.show()

root
 |-- term: string (nullable = true)
 |-- course_enrollment: string (nullable = true)
 |-- course: string (nullable = true)
 |-- section: string (nullable = true)
 |-- student_id: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- grade_points: string (nullable = true)

In [9]:
enrollments.printSchema()

root
 |-- term: string (nullable = true)
 |-- course_enrollment: string (nullable = true)
 |-- course: string (nullable = true)
 |-- section: string (nullable = true)
 |-- student_id: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- grade_points: string (nullable = true)

In [10]:
#2b sections 
sections = spark.read.csv("s3a://enrollments/sections.csv",header=True)
sections.show()

+----+------+-------+----------+--------+
|term|course|section|enrollment|capacity|
+----+------+-------+----------+--------+
|1221|IST659|   M001|        20|      20|
|1221|IST659|   M002|        20|      20|
|1221|IST722|   M001|        25|      28|
|1221|IST615|   M001|        22|      28|
|1221|IST621|   M001|        22|      24|
|1221|IST687|   M001|        20|      20|
|1221|IST687|   M002|        21|      24|
|1221|IST707|   M001|        28|      28|
|1222|IST659|   M001|        24|      24|
|1222|IST769|   M001|        19|      24|
|1222|IST615|   M001|        19|      24|
|1222|IST714|   M001|        17|      20|
|1222|IST621|   M001|        28|      28|
|1222|IST621|   M002|        22|      24|
|1222|IST687|   M001|        18|      20|
|1222|IST687|   M002|        20|      20|
|1222|IST718|   M001|        28|      28|
|1231|IST659|   M001|        20|      20|
|1231|IST659|   M002|        20|      20|
|1231|IST722|   M001|        23|      28|
+----+------+-------+----------+--------+
only showing top 20 rows

In [11]:
sections.printSchema()

root
 |-- term: string (nullable = true)
 |-- course: string (nullable = true)
 |-- section: string (nullable = true)
 |-- enrollment: string (nullable = true)
 |-- capacity: string (nullable = true)

### Question 3

Demonstrate you can read the reference-oriented data `terms`, `students`, `courses`, and `program` reference data from `MongoDb` using PySpark.

In [15]:
#3a terms 
from pyspark.sql.functions import col
terms = spark.read.format("mongo").option("database","ischooldb").option("collection","terms").load()
terms=terms.withColumnRenamed("_id","term")
terms=terms.withColumnRenamed("name","term_name")
terms=terms.withColumnRenamed("code","term_code")
terms.show()

+----+-------------+---------+-----------+--------+----+
|term|academic_year|term_code|  term_name|semester|year|
+----+-------------+---------+-----------+--------+----+
|1221|    2021-2022|     1221|  Fall 2021|    Fall|2021|
|1222|    2021-2022|     1222|Spring 2022|  Spring|2022|
|1231|    2022-2023|     1231|  Fall 2022|    Fall|2022|
|1232|    2022-2023|     1232|Spring 2023|  Spring|2023|
+----+-------------+---------+-----------+--------+----+

In [53]:
terms.printSchema()

root
 |-- term: string (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- term_code: string (nullable = true)
 |-- term_name: string (nullable = true)
 |-- semester: string (nullable = true)
 |-- year: integer (nullable = true)

In [54]:
#3b courses
courses = spark.read.format("mongo").option("database","ischooldb").option("collection","courses").load()
courses=courses.withColumnRenamed("_id","course")
courses=courses.withColumnRenamed("name","course_name")
courses=courses.withColumnRenamed("name","course_code")
courses = courses.withColumn("credits", col("credits").cast("integer"))
courses.show(5)

+------+------+-------+--------------------+--------------------+----------------+--------------------+-------------+--------------------+
|course|  code|credits|         description|elective_in_programs| key_assignments|         course_name|prerequisites|required_in_programs|
+------+------+-------+--------------------+--------------------+----------------+--------------------+-------------+--------------------+
|IST659|IST659|      3|Definition, devel...|                  []|       [project]|Data Administrati...|           []|            [IS, DS]|
|IST722|IST722|      3|Introduction to c...|                [IS]| [project, exam]|    Data Warehousing|     [IST659]|                  []|
|IST769|IST769|      3|Analyze relationa...|                [DS]| [project, exam]|Advanced Big Data...|     [IST659]|                  []|
|IST615|IST615|      3|Cloud services cr...|                  []|[project, paper]|    Cloud Management|           []|            [IS, DS]|
|IST714|IST714|      3|Advanced, lab-bas...|            [IS, DS]|       [project]|  Cloud Architecture|     [IST615]|                  []|
+------+------+-------+--------------------+--------------------+----------------+--------------------+-------------+--------------------+
only showing top 5 rows

In [55]:
courses.printSchema()

root
 |-- course: string (nullable = true)
 |-- code: string (nullable = true)
 |-- credits: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- elective_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- key_assignments: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- course_name: string (nullable = true)
 |-- prerequisites: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- required_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [17]:
#3c Programs
programs = spark.read.format("mongo").option("database","ischooldb").option("collection","programs").load()
programs=programs.withColumnRenamed("_id","program")
courses=courses.withColumnRenamed("code","program_code")
programs = programs.withColumnRenamed("name","program_name").withColumnRenamed("credits","program_totalcredits")
programs=programs.withColumn("program_totalcredits", col("program_totalcredits").cast("integer"))
programs.show()

+-------+----+--------------------+--------------------+--------------------+--------------------+-----------+
|program|code|program_totalcredits|    elective_courses|        program_name|    required_courses|       type|
+-------+----+--------------------+--------------------+--------------------+--------------------+-----------+
|     IS|  IS|                  36|[IST722, IST714, ...| Information Systems|[IST659, IST615, ...|    Masters|
|     DS|  DS|                  34|    [IST769, IST714]|        Data Science|[IST659, IST615, ...|    Masters|
|    BDC| BDC|                   9|                null|Data Engineering ...|[IST659, IST722, ...|Certificate|
|    CCC| CCC|                   9|                null|Cloud Computing C...|[IST621, IST615, ...|Certificate|
|    MLC| MLC|                   9|                null|Machine Learning ...|[IST687, IST707, ...|Certificate|
+-------+----+--------------------+--------------------+--------------------+--------------------+-----------+

In [56]:
programs.printSchema()

root
 |-- program: string (nullable = true)
 |-- code: string (nullable = true)
 |-- program_totalcredits: integer (nullable = true)
 |-- elective_courses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- program_name: string (nullable = true)
 |-- required_courses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- type: string (nullable = true)

In [58]:
#3d students
students = spark.read.format("mongo").option("database","ischooldb").option("collection","students").load()
students= students.withColumnRenamed("name","student_name")
students= students.withColumnRenamed("_id","student_id")
students.show(5)

+------------+-------------+-------+
|  student_id| student_name|program|
+------------+-------------+-------+
|    abbykuss|    Abby Kuss|     DS|
|  adamantium|  Adam Antium|     IS|
|   addieowse|   Addie Owse|     IS|
|aidensomewun|Aiden Somewun|     IS|
|aidenknowone|Aiden Knowone|     DS|
+------------+-------------+-------+
only showing top 5 rows

In [59]:
students.printSchema()

root
 |-- student_id: string (nullable = true)
 |-- student_name: string (nullable = true)
 |-- program: string (nullable = true)

### Question 4

Prepare the `section` data for loading into `cassandra` and `elasticsearch` with Spark or Spark SQL. Just PREPARE it do not LOAD it. Remember that we want this data to be as wide as possible, so include all relevant reference data. For example, the `section` data should include `term` attributes like `year`,  `academic year`, etc... and from `course`, attributes like `credits`, `name`, `prerequisites`, etc...

In [60]:
#4 wide_sections
from pyspark.sql.functions import col, explode, when,array,lit,explode_outer
joined_df = sections.join(terms, on=["term"])
wide_sections = joined_df.join(courses, on=["course"])
wide_sections=wide_sections.select("course", "term", "section", "enrollment", "capacity", "academic_year",
                      "term_name", "semester", "year", "credits", "description", "elective_in_programs",
                      "key_assignments", "course_name", "prerequisites", "required_in_programs")

wide_sections = wide_sections.withColumn("capacity", col("capacity").cast("integer"))
wide_sections = wide_sections.withColumn("enrollment", col("enrollment").cast("integer"))
wide_sections.show(5)

+------+----+-------+----------+--------+-------------+-----------+--------+----+-------+--------------------+--------------------+----------------+----------------+-------------+--------------------+
|course|term|section|enrollment|capacity|academic_year|  term_name|semester|year|credits|         description|elective_in_programs| key_assignments|     course_name|prerequisites|required_in_programs|
+------+----+-------+----------+--------+-------------+-----------+--------+----+-------+--------------------+--------------------+----------------+----------------+-------------+--------------------+
|IST615|1221|   M001|        22|      28|    2021-2022|  Fall 2021|    Fall|2021|      3|Cloud services cr...|                  []|[project, paper]|Cloud Management|           []|            [IS, DS]|
|IST615|1222|   M001|        19|      24|    2021-2022|Spring 2022|  Spring|2022|      3|Cloud services cr...|                  []|[project, paper]|Cloud Management|           []|            [IS, DS]|
|IST615|1231|   M001|        21|      24|    2022-2023|  Fall 2022|    Fall|2022|      3|Cloud services cr...|                  []|[project, paper]|Cloud Management|           []|            [IS, DS]|
|IST615|1232|   M002|        20|      24|    2022-2023|Spring 2023|  Spring|2023|      3|Cloud services cr...|                  []|[project, paper]|Cloud Management|           []|            [IS, DS]|
|IST615|1232|   M001|        21|      28|    2022-2023|Spring 2023|  Spring|2023|      3|Cloud services cr...|                  []|[project, paper]|Cloud Management|           []|            [IS, DS]|
+------+----+-------+----------+--------+-------------+-----------+--------+----+-------+--------------------+--------------------+----------------+----------------+-------------+--------------------+
only showing top 5 rows

In [20]:
wide_sections.printSchema()

root
 |-- course: string (nullable = true)
 |-- term: string (nullable = true)
 |-- section: string (nullable = true)
 |-- enrollment: integer (nullable = true)
 |-- capacity: integer (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- term_name: string (nullable = true)
 |-- semester: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- credits: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- elective_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- key_assignments: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- course_name: string (nullable = true)
 |-- prerequisites: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- required_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)

### Question 5

Use the `cassandra-driver` example from class to write python code to connect to cassandra from within Jupyter and create a keyspace named `ischooldb`. Design a cassandra table called `sections` to store the data from question 4. Appropriate key design is important! Please explain your justification for key below your table definition. Provide clear evidence that your table was created by querying the empty table in spark and use `printSchema()` to show the schema.

In [21]:
#5 create cassandra table for wide_sections
#For cassandra # WE NEED A TABLE BEFORE WE CAN WRITE, Using Plain old Python



from cassandra.cluster import Cluster
with Cluster([cassandra_host]) as cluster:
    session = cluster.connect()
    session.execute("CREATE KEYSPACE IF NOT EXISTS ischooldb WITH replication={ 'class': 'SimpleStrategy', 'replication_factor' : 1 };")
    session.execute("DROP TABLE IF EXISTS ischooldb.sections")  
    session.execute("""CREATE TABLE IF NOT EXISTS ischooldb.sections (     
        course text,
        term int,
        section text,
        enrollment int,
        capacity int,
        academic_year text,
        term_name text,
        semester text,
        year int,
        credits int,
        description text, 
        elective_in_programs list<text>,
        key_assignments list<text>,
        course_name text,
        prerequisites list<text>,
        required_in_programs list<text>,
    primary key ((term, course), section) 
    );""")

In [22]:
sections_df =spark.read.format("org.apache.spark.sql.cassandra")\
    .options(table="sections", keyspace="ischooldb") \
    .load()

sections_df.show()

+----+------+-------+-------------+--------+-----------+-------+-----------+--------------------+----------+---------------+-------------+--------------------+--------+---------+----+
|term|course|section|academic_year|capacity|course_name|credits|description|elective_in_programs|enrollment|key_assignments|prerequisites|required_in_programs|semester|term_name|year|
+----+------+-------+-------------+--------+-----------+-------+-----------+--------------------+----------+---------------+-------------+--------------------+--------+---------+----+
+----+------+-------+-------------+--------+-----------+-------+-----------+--------------------+----------+---------------+-------------+--------------------+--------+---------+----+

In [100]:
sections_df.printSchema()

root
 |-- term: integer (nullable = false)
 |-- course: string (nullable = false)
 |-- section: string (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- capacity: integer (nullable = true)
 |-- course_name: string (nullable = true)
 |-- credits: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- elective_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- enrollment: integer (nullable = true)
 |-- key_assignments: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- prerequisites: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- required_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- semester: string (nullable = true)
 |-- term_name: string (nullable = true)
 |-- year: integer (nullable = true)

### Question 6

Load the data frame you created in question 4 into the `cassandra` table you created in question 5. Demonstrate the data is in the table by querying back it with PySpark. Make sure you can run the code multiple times and each time it replaces the existing data.

In [135]:
#6 load wide_sections into cassandra

wide_sections.write.format("org.apache.spark.sql.cassandra")\
  .mode("Overwrite")\
  .option("confirm.truncate",True)\
  .option("table", "sections")\
  .option("keyspace","ischooldb")\
  .save()

In [136]:
sections_df =spark.read.format("org.apache.spark.sql.cassandra")\
    .options(table="sections", keyspace="ischooldb") \
    .load()

sections_df.show()

+----+------+-------+-------------+--------+--------------------+-------+--------------------+--------------------+----------+----------------+-------------+--------------------+--------+-----------+----+
|term|course|section|academic_year|capacity|         course_name|credits|         description|elective_in_programs|enrollment| key_assignments|prerequisites|required_in_programs|semester|  term_name|year|
+----+------+-------+-------------+--------+--------------------+-------+--------------------+--------------------+----------+----------------+-------------+--------------------+--------+-----------+----+
|1231|IST621|   M001|    2022-2023|      28|Information Manag...|      3|Information and t...|                  []|        28|         [paper]|           []|                [IS]|    Fall|  Fall 2022|2022|
|1232|IST615|   M001|    2022-2023|      28|    Cloud Management|      3|Cloud services cr...|                  []|        21|[project, paper]|           []|            [IS, DS]|  Spring|Spring 2023|2023|
|1232|IST615|   M002|    2022-2023|      24|    Cloud Management|      3|Cloud services cr...|                  []|        20|[project, paper]|           []|            [IS, DS]|  Spring|Spring 2023|2023|
|1221|IST722|   M001|    2021-2022|      28|    Data Warehousing|      3|Introduction to c...|                [IS]|        25| [project, exam]|     [IST659]|                  []|    Fall|  Fall 2021|2021|
|1232|IST659|   M001|    2022-2023|      20|Data Administrati...|      3|Definition, devel...|                  []|        20|       [project]|           []|            [IS, DS]|  Spring|Spring 2023|2023|
|1232|IST718|   M001|    2022-2023|      28|  Big Data Analytics|      3|A broad introduct...|                  []|        28|       [project]|     [IST687]|                [DS]|  Spring|Spring 2023|2023|
|1222|IST714|   M001|    2021-2022|      20|  Cloud Architecture|      3|Advanced, lab-bas...|            [IS, DS]|        17|       [project]|     [IST615]|                  []|  Spring|Spring 2022|2022|
|1221|IST707|   M001|    2021-2022|      28|Applied Machine L...|      3|General overview ...|                [IS]|        28|          [exam]|     [IST687]|                [DS]|    Fall|  Fall 2021|2021|
|1231|IST687|   M001|    2022-2023|      20|Introduction to D...|      3|Introduces inform...|                [IS]|        17| [project, exam]|           []|                [DS]|    Fall|  Fall 2022|2022|
|1231|IST687|   M002|    2022-2023|      24|Introduction to D...|      3|Introduces inform...|                [IS]|        20| [project, exam]|           []|                [DS]|    Fall|  Fall 2022|2022|
|1222|IST615|   M001|    2021-2022|      24|    Cloud Management|      3|Cloud services cr...|                  []|        19|[project, paper]|           []|            [IS, DS]|  Spring|Spring 2022|2022|
|1222|IST659|   M001|    2021-2022|      24|Data Administrati...|      3|Definition, devel...|                  []|        24|       [project]|           []|            [IS, DS]|  Spring|Spring 2022|2022|
|1232|IST687|   M001|    2022-2023|      24|Introduction to D...|      3|Introduces inform...|                [IS]|        19| [project, exam]|           []|                [DS]|  Spring|Spring 2023|2023|
|1222|IST621|   M001|    2021-2022|      28|Information Manag...|      3|Information and t...|                  []|        28|         [paper]|           []|                [IS]|  Spring|Spring 2022|2022|
|1222|IST621|   M002|    2021-2022|      24|Information Manag...|      3|Information and t...|                  []|        22|         [paper]|           []|                [IS]|  Spring|Spring 2022|2022|
|1222|IST769|   M001|    2021-2022|      24|Advanced Big Data...|      3|Analyze relationa...|                [DS]|        19| [project, exam]|     [IST659]|                  []|  Spring|Spring 2022|2022|
|1231|IST615|   M001|    2022-2023|      24|    Cloud Management|      3|Cloud services cr...|                  []|        21|[project, paper]|           []|            [IS, DS]|    Fall|  Fall 2022|2022|
|1231|IST707|   M001|    2022-2023|      24|Applied Machine L...|      3|General overview ...|                [IS]|        24|          [exam]|     [IST687]|                [DS]|    Fall|  Fall 2022|2022|
|1232|IST714|   M001|    2022-2023|      24|  Cloud Architecture|      3|Advanced, lab-bas...|            [IS, DS]|        20|       [project]|     [IST615]|                  []|  Spring|Spring 2023|2023|
|1222|IST718|   M001|    2021-2022|      28|  Big Data Analytics|      3|A broad introduct...|                  []|        28|       [project]|     [IST687]|                [DS]|  Spring|Spring 2022|2022|
+----+------+-------+-------------+--------+--------------------+-------+--------------------+--------------------+----------+----------------+-------------+--------------------+--------+-----------+----+
only showing top 20 rows

### Question 7

Since we did not learn how to create a custom elasticsearch mapping, before you can load the data into `elasticsearch` you will need to flatten the nested data. For example, `course_is_elective_in_programs` should generate 2 columns `course_is_elective_for_IS` and `course_is_elective_for_DS`. You'll need to repeat this step for `course_is_required_in_programs`. Omit the `course_prerequisites` and `course_key_assignments` column.

In [25]:
wide_sections.printSchema()

root
 |-- course: string (nullable = true)
 |-- term: string (nullable = true)
 |-- section: string (nullable = true)
 |-- enrollment: integer (nullable = true)
 |-- capacity: integer (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- term_name: string (nullable = true)
 |-- semester: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- credits: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- elective_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- key_assignments: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- course_name: string (nullable = true)
 |-- prerequisites: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- required_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [26]:
#7 flatten `course_is_elective_in_programs` and `course_is_required_in_programs` 
#exploding elective_in_programs

#graunlity needs to be changed so that we can have a single course


from pyspark.sql.functions import col, explode, when,array,lit,explode_outer,array_contains


flattened_df = wide_sections.select(
    col("course"), 
    col("term"),
    col("section"),
    col("enrollment"),
    col("capacity"), 
    col("academic_year"),
    col("term_name"),
    col("semester"), 
    col("year"),
    col("course_name"),
    col("credits"),
    col("description"),
    explode_outer(when(col("elective_in_programs").isNull(), array(lit(None))).otherwise(col("elective_in_programs"))).alias("elective_in_programs_exploded"),
    col("required_in_programs"))
    

#flattened_df.toPandas()

In [27]:
#exploding required in programs columns

flattened_df=flattened_df.select(
    col("course"), 
    col("term"),
    col("section"),
    col("enrollment"),
    col("capacity"), 
    col("academic_year"),
    col("term_name"),
    col("semester"), 
    col("year"), 
    col("credits"),
    col("course_name"),
    col("description"),
    col("elective_in_programs_exploded"),
    explode_outer("required_in_programs").alias("required_in_programs_exploded")
    )

#flattened_df.toPandas()

In [28]:


#flattened_df = flattened_df.withColumn("course_is_elective_for_IS", when(col("elective_in_programs_exploded") == "IS", True).otherwise(False)) \
#                           .withColumn("course_is_elective_for_DS", when(col("elective_in_programs_exploded") == "DS", True).otherwise(False))

#exploded_df = flattened_df.withColumn("required_in_programs_for_IS", when(col("required_in_programs_exploded") == "IS", True).otherwise(False)) \
#                           .withColumn("required_in_programs_for_DS", when(col("required_in_programs_exploded") == "DS", True).otherwise(False))


#exploded_df.toPandas()

In [29]:
#Above code resulted in duplicate values hence had to redo it again

exploded_df=wide_sections.select(
    col("course"), 
    col("term"),
    col("section"),
    col("enrollment"),
    col("capacity"), 
    col("academic_year"),
    col("term_name"),
    col("semester"), 
    col("year"), 
    col("credits"),
    col("course_name"),
    col("description"),
    when(array_contains(col("elective_in_programs"), "DS"), True).otherwise(False).alias("course_is_elective_for_DS"),
    when(array_contains(col("elective_in_programs"), "IS"), True).otherwise(False).alias("course_is_elective_for_IS"),
    when(array_contains(col("required_in_programs"), "DS"), True).otherwise(False).alias("course_is_required_for_DS"),
    when(array_contains(col("required_in_programs"), "IS"), True).otherwise(False).alias("course_is_required_for_IS")
)



exploded_df.toPandas()

,course,term,section,enrollment,capacity,academic_year,term_name,semester,year,credits,course_name,description,course_is_elective_for_DS,course_is_elective_for_IS,course_is_required_for_DS,course_is_required_for_IS
0,IST615,1221,M001,22,28,2021-2022,Fall 2021,Fall,2021,3,Cloud Management,Cloud services creation and management. Practi...,False,False,True,True
1,IST615,1222,M001,19,24,2021-2022,Spring 2022,Spring,2022,3,Cloud Management,Cloud services creation and management. Practi...,False,False,True,True
2,IST615,1231,M001,21,24,2022-2023,Fall 2022,Fall,2022,3,Cloud Management,Cloud services creation and management. Practi...,False,False,True,True
3,IST615,1232,M002,20,24,2022-2023,Spring 2023,Spring,2023,3,Cloud Management,Cloud services creation and management. Practi...,False,False,True,True
4,IST615,1232,M001,21,28,2022-2023,Spring 2023,Spring,2023,3,Cloud Management,Cloud services creation and management. Practi...,False,False,True,True
5,IST659,1221,M002,20,20,2021-2022,Fall 2021,Fall,2021,3,Data Administration Concepts and Database Mana...,"Definition, development, and management of dat...",False,False,True,True
6,IST659,1221,M001,20,20,2021-2022,Fall 2021,Fall,2021,3,Data Administration Concepts and Database Mana...,"Definition, development, and management of dat...",False,False,True,True
7,IST659,1222,M001,24,24,2021-2022,Spring 2022,Spring,2022,3,Data Administration Concepts and Database Mana...,"Definition, development, and management of dat...",False,False,True,True
8,IST659,1231,M002,20,20,2022-2023,Fall 2022,Fall,2022,3,Data Administration Concepts and Database Mana...,"Definition, development, and management of dat...",False,False,True,True
9,IST659,1231,M001,20,20,2022-2023,Fall 2022,Fall,2022,3,Data Administration Concepts and Database Mana...,"Definition, development, and management of dat...",False,False,True,True
10,IST659,1232,M001,20,20,2022-2023,Spring 2023,Spring,2023,3,Data Administration Concepts and Database Mana...,"Definition, development, and management of dat...",False,False,True,True
11,IST687,1221,M002,21,24,2021-2022,Fall 2021,Fall,2021,3,Introduction to Data Science,Introduces information professionals to fundam...,False,True,True,False
12,IST687,1221,M001,20,20,2021-2022,Fall 2021,Fall,2021,3,Introduction to Data Science,Introduces information professionals to fundam...,False,True,True,False
13,IST687,1222,M002,20,20,2021-2022,Spring 2022,Spring,2022,3,Introduction to Data Science,Introduces information professionals to fundam...,False,True,True,False
14,IST687,1222,M001,18,20,2021-2022,Spring 2022,Spring,2022,3,Introduction to Data Science,Introduces information professionals to fundam...,False,True,True,False
15,IST687,1231,M002,20,24,2022-2023,Fall 2022,Fall,2022,3,Introduction to Data Science,Introduces information professionals to fundam...,False,True,True,False
16,IST687,1231,M001,17,20,2022-2023,Fall 2022,Fall,2022,3,Introduction to Data Science,Introduces information professionals to fundam...,False,True,True,False
17,IST687,1232,M001,19,24,2022-2023,Spring 2023,Spring,2023,3,Introduction to Data Science,Introduces information professionals to fundam...,False,True,True,False
18,IST707,1221,M001,28,28,2021-2022,Fall 2021,Fall,2021,3,Applied Machine Learning,General overview of industry standard machine ...,False,True,True,False
19,IST707,1231,M001,24,24,2022-2023,Fall 2022,Fall,2022,3,Applied Machine Learning,General overview of industry standard machine ...,False,True,True,False
20,IST769,1222,M001,19,24,2021-2022,Spring 2022,Spring,2022,3,Advanced Big Data Management,Analyze relational and non-relational database...,True,False,False,False
21,IST769,1232,M001,20,24,2022-2023,Spring 2023,Spring,2023,3,Advanced Big Data Management,Analyze relational and non-relational database...,True,False,False,False
22,IST722,1221,M001,25,28,2021-2022,Fall 2021,Fall,2021,3,Data Warehousing,Introduction to concepts of business intellige...,False,True,False,False
23,IST722,1231,M001,23,28,2022-2023,Fall 2022,Fall,2022,3,Data Warehousing,Introduction to concepts of business intellige...,False,True,False,False
24,IST621,1221,M001,22,24,2021-2022,Fall 2021,Fall,2021,3,Information Management and Technology,Information and technology management overview...,False,False,False,True
25,IST621,1222,M002,22,24,2021-2022,Spring 2022,Spring,2022,3,Information Management and Technology,Information and technology management overview...,False,False,False,True
26,IST621,1222,M001,28,28,2021-2022,Spring 2022,Spring,2022,3,Information Management and Technology,Information and technology management overview...,False,False,False,True
27,IST621,1231,M001,28,28,2022-2023,Fall 2022,Fall,2022,3,Information Management and Technology,Information and technology management overview...,False,False,False,True
28,IST621,1232,M002,21,24,2022-2023,Spring 2023,Spring,2023,3,Information Management and Technology,Information and technology management overview...,False,False,False,True
29,IST621,1232,M001,28,28,2022-2023,Spring 2023,Spring,2023,3,Information Management and Technology,Information and technology management overview...,False,False,False,True
30,IST718,1222,M001,28,28,2021-2022,Spring 2022,Spring,2022,3,Big Data Analytics,A broad introduction to big data analytical an...,False,False,True,False
31,IST718,1232,M001,28,28,2022-2023,Spring 2023,Spring,2023,3,Big Data Analytics,A broad introduction to big data analytical an...,False,False,True,False
32,IST714,1222,M001,17,20,2021-2022,Spring 2022,Spring,2022,3,Cloud Architecture,"Advanced, lab-based exploration of enterprise ...",True,True,False,False
33,IST714,1232,M001,20,24,2022-2023,Spring 2023,Spring,2023,3,Cloud Architecture,"Advanced, lab-based exploration of enterprise ...",True,True,False,False

In [30]:
exploded_df.count()

34

In [31]:
exploded_df.printSchema()

root
 |-- course: string (nullable = true)
 |-- term: string (nullable = true)
 |-- section: string (nullable = true)
 |-- enrollment: integer (nullable = true)
 |-- capacity: integer (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- term_name: string (nullable = true)
 |-- semester: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- credits: integer (nullable = true)
 |-- course_name: string (nullable = true)
 |-- description: string (nullable = true)
 |-- course_is_elective_for_DS: boolean (nullable = false)
 |-- course_is_elective_for_IS: boolean (nullable = false)
 |-- course_is_required_for_DS: boolean (nullable = false)
 |-- course_is_required_for_IS: boolean (nullable = false)

### Question 8

Load the data frame you created in question 7 into `elasticsearch`, under the index `sections`.  Demonstrate the data is in the index by querying back it with PySpark.

In [32]:
#8 load wide_sections_flattened into elasticsearch
exploded_df.write.mode("Overwrite").format("es").save("sections/_doc")

In [33]:
exploded_elastic = spark.read.format("es").load("sections/_doc")
exploded_elastic.show()

+-------------+--------+------+-------------------------+-------------------------+-------------------------+-------------------------+--------------------+-------+--------------------+----------+-------+--------+----+-----------+----+
|academic_year|capacity|course|course_is_elective_for_DS|course_is_elective_for_IS|course_is_required_for_DS|course_is_required_for_IS|         course_name|credits|         description|enrollment|section|semester|term|  term_name|year|
+-------------+--------+------+-------------------------+-------------------------+-------------------------+-------------------------+--------------------+-------+--------------------+----------+-------+--------+----+-----------+----+
|    2021-2022|      28|IST615|                    false|                    false|                     true|                     true|    Cloud Management|      3|Cloud services cr...|        22|   M001|    Fall|1221|  Fall 2021|2021|
|    2021-2022|      24|IST615|                    false|                    false|                     true|                     true|    Cloud Management|      3|Cloud services cr...|        19|   M001|  Spring|1222|Spring 2022|2022|
|    2022-2023|      24|IST615|                    false|                    false|                     true|                     true|    Cloud Management|      3|Cloud services cr...|        21|   M001|    Fall|1231|  Fall 2022|2022|
|    2022-2023|      24|IST615|                    false|                    false|                     true|                     true|    Cloud Management|      3|Cloud services cr...|        20|   M002|  Spring|1232|Spring 2023|2023|
|    2022-2023|      28|IST615|                    false|                    false|                     true|                     true|    Cloud Management|      3|Cloud services cr...|        21|   M001|  Spring|1232|Spring 2023|2023|
|    2021-2022|      20|IST659|                    false|                    false|                     true|                     true|Data Administrati...|      3|Definition, devel...|        20|   M002|    Fall|1221|  Fall 2021|2021|
|    2021-2022|      20|IST659|                    false|                    false|                     true|                     true|Data Administrati...|      3|Definition, devel...|        20|   M001|    Fall|1221|  Fall 2021|2021|
|    2021-2022|      24|IST659|                    false|                    false|                     true|                     true|Data Administrati...|      3|Definition, devel...|        24|   M001|  Spring|1222|Spring 2022|2022|
|    2022-2023|      20|IST659|                    false|                    false|                     true|                     true|Data Administrati...|      3|Definition, devel...|        20|   M002|    Fall|1231|  Fall 2022|2022|
|    2022-2023|      20|IST659|                    false|                    false|                     true|                     true|Data Administrati...|      3|Definition, devel...|        20|   M001|    Fall|1231|  Fall 2022|2022|
|    2022-2023|      20|IST659|                    false|                    false|                     true|                     true|Data Administrati...|      3|Definition, devel...|        20|   M001|  Spring|1232|Spring 2023|2023|
|    2021-2022|      24|IST687|                    false|                     true|                     true|                    false|Introduction to D...|      3|Introduces inform...|        21|   M002|    Fall|1221|  Fall 2021|2021|
|    2021-2022|      20|IST687|                    false|                     true|                     true|                    false|Introduction to D...|      3|Introduces inform...|        20|   M001|    Fall|1221|  Fall 2021|2021|
|    2021-2022|      20|IST687|                    false|                     true|                     true|                    false|Introduction to D...|      3|Introduces inform...|        20|   M002|  Spring|1222|Spring 2022|2022|
|    2021-2022|      20|IST687|                    false|                     true|                     true|                    false|Introduction to D...|      3|Introduces inform...|        18|   M001|  Spring|1222|Spring 2022|2022|
|    2022-2023|      24|IST687|                    false|                     true|                     true|                    false|Introduction to D...|      3|Introduces inform...|        20|   M002|    Fall|1231|  Fall 2022|2022|
|    2022-2023|      20|IST687|                    false|                     true|                     true|                    false|Introduction to D...|      3|Introduces inform...|        17|   M001|    Fall|1231|  Fall 2022|2022|
|    2022-2023|      24|IST687|                    false|                     true|                     true|                    false|Introduction to D...|      3|Introduces inform...|        19|   M001|  Spring|1232|Spring 2023|2023|
|    2021-2022|      28|IST707|                    false|                     true|                     true|                    false|Applied Machine L...|      3|General overview ...|        28|   M001|    Fall|1221|  Fall 2021|2021|
|    2022-2023|      24|IST707|                    false|                     true|                     true|                    false|Applied Machine L...|      3|General overview ...|        24|   M001|    Fall|1231|  Fall 2022|2022|
+-------------+--------+------+-------------------------+-------------------------+-------------------------+-------------------------+--------------------+-------+--------------------+----------+-------+--------+----+-----------+----+
only showing top 20 rows

### Question 9

Similar to question 4, prepare the `enrollments` for loading into `cassandra` and `elasticsearch` with Spark or Spark SQL. For this wide table we want to include the same reference data for `sections` but include the `student` attributes and the `program` data associated with the student.

In [34]:
#9 create wide_enrollments
joined_df1 = enrollments.join(terms, on=["term"])
joined_df2 = joined_df1.join(courses, on=["course"])
joined_df3 = joined_df2.join(students, on=["student_id"])
wide_enrollments = joined_df3.join(programs, on=["program"])

#wide_enrollments.show()

In [35]:
wide_enrollments.printSchema()

root
 |-- program: string (nullable = true)
 |-- student_id: string (nullable = true)
 |-- course: string (nullable = true)
 |-- term: string (nullable = true)
 |-- course_enrollment: string (nullable = true)
 |-- section: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- grade_points: string (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- term_code: string (nullable = true)
 |-- term_name: string (nullable = true)
 |-- semester: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- program_code: string (nullable = true)
 |-- credits: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- elective_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- key_assignments: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- course_name: string (nullable = true)
 |-- prerequisites: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- required_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- student_name: string (nullable = true)
 |-- code: string (nullable = true)
 |-- program_totalcredits: integer (nullable = true)
 |-- elective_courses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- program_name: string (nullable = true)
 |-- required_courses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- type: string (nullable = true)

### Question 10

Load the data frame you created in question 8 into `elasticsearch`, under the index `enrollments`. This time, just Omit all array types to make the problem simpler (`elective_courses`, `key_assignments`, `course_prerequisites`, etc...)

In [36]:
#10 wide_enrollments to elastic search
wide_enrollment=wide_enrollments.drop('elective_in_programs', 'key_assignments', 'prerequisites', 'required_in_programs', 'elective_courses', 'required_courses')


wide_enrollment.printSchema()

root
 |-- program: string (nullable = true)
 |-- student_id: string (nullable = true)
 |-- course: string (nullable = true)
 |-- term: string (nullable = true)
 |-- course_enrollment: string (nullable = true)
 |-- section: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- grade_points: string (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- term_code: string (nullable = true)
 |-- term_name: string (nullable = true)
 |-- semester: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- program_code: string (nullable = true)
 |-- credits: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- course_name: string (nullable = true)
 |-- student_name: string (nullable = true)
 |-- code: string (nullable = true)
 |-- program_totalcredits: integer (nullable = true)
 |-- program_name: string (nullable = true)
 |-- type: string (nullable = true)

In [37]:
wide_enrollment.count()

743

In [38]:
wide_enrollment.write.mode("Overwrite").format("es").save("enrollments/_doc")

In [39]:
wide_enrollments_elastic = spark.read.format("es").load("enrollments/_doc")
wide_enrollments_elastic.toPandas()

,academic_year,code,course,course_enrollment,course_name,credits,description,grade,grade_points,program,...,program_totalcredits,section,semester,student_id,student_name,term,term_code,term_name,type,year
0,2022-2023,DS,IST615,12,Cloud Management,3,Cloud services creation and management. Practi...,A,4.0,DS,...,34,M001,Fall,artiechoke,Artie Choke,1231,1231,Fall 2022,Masters,2022
1,2022-2023,DS,IST659,18,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",A,4.0,DS,...,34,M002,Fall,artiechoke,Artie Choke,1231,1231,Fall 2022,Masters,2022
2,2022-2023,DS,IST687,6,Introduction to Data Science,3,Introduces information professionals to fundam...,A,4.0,DS,...,34,M002,Fall,artiechoke,Artie Choke,1231,1231,Fall 2022,Masters,2022
3,2022-2023,DS,IST621,21,Information Management and Technology,3,Information and technology management overview...,A,4.0,DS,...,34,M001,Spring,artiechoke,Artie Choke,1232,1232,Spring 2023,Masters,2023
4,2021-2022,DS,IST615,18,Cloud Management,3,Cloud services creation and management. Practi...,A,4.0,DS,...,34,M001,Spring,peteterpan,Pete Terpan,1222,1222,Spring 2022,Masters,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
738,2021-2022,IS,IST659,10,Data Administration Concepts and Database Mana...,3,"Definition, development, and management of dat...",A-,3.667,IS,...,36,M002,Fall,petemoss,Pete Moss,1221,1221,Fall 2021,Masters,2021
739,2021-2022,IS,IST687,11,Introduction to Data Science,3,Introduces information professionals to fundam...,C,2.0,IS,...,36,M002,Spring,petemoss,Pete Moss,1222,1222,Spring 2022,Masters,2022
740,2021-2022,IS,IST769,15,Advanced Big Data Management,3,Analyze relational and non-relational database...,B+,3.333,IS,...,36,M001,Spring,petemoss,Pete Moss,1222,1222,Spring 2022,Masters,2022
741,2021-2022,IS,IST722,25,Data Warehousing,3,Introduction to concepts of business intellige...,B+,3.333,IS,...,36,M001,Fall,petemoss,Pete Moss,1221,1221,Fall 2021,Masters,2021
742,2021-2022,IS,IST615,13,Cloud Management,3,Cloud services creation and management. Practi...,A,4.0,IS,...,36,M001,Spring,philitall-theweigh,Phil Itall-Theweigh,1222,1222,Spring 2022,Masters,2022

### Question 11

Write spark to clear the `neo4j` database of all nodes and relationships.

In [86]:
#11 reset neo4j database 
#df.write.format("org.neo4j.spark.DataSource").mode("Overwrite").option("url", bolt_url).option("query","match (s) delete s").save()

courses.write.format("org.neo4j.spark.DataSource").mode("Overwrite") \
    .option("url", bolt_url)\
    .option("query", "MATCH (n) DETACH DELETE n") \
    .save()

### Question 12

Load the `courses` and `program` data into `neo4j` as nodes. Exclude the `requirements`, `electives` and `prerequisites` from the node attributes. Demonstrate the data in `neo4j` by querying back it using one or more Cypher queries. NOTE: the Neo4J `name` attribute is what will display on the node bubbles.

In [87]:
#12a load courses into Neo4j
#course_neo = courses.select("course","code","credits","description","key_assignments","course_name")
courses.write.format("org.neo4j.spark.DataSource")\
  .mode("Overwrite")\
  .option("url", bolt_url) \
  .option("labels", "course_name") \
  .option("node.keys","course") \
  .option("node.properties", "course,code,credits,description,key_assignments,course_name")\
  .save()

In [88]:
#12b load programs into neo4j
#programs_neo = programs.select("program","code","credits","elective_courses","subject_name","required_courses","type")
programs.write.format("org.neo4j.spark.DataSource")\
  .mode("Overwrite")\
  .option("url", bolt_url) \
  .option("labels", "program_name") \
  .option("node.keys","program") \
  .option("node.properties","program,code,credits,elective_courses,subject_name,required_courses,type")\
  .save()

In [89]:
r1="MATCH (n:course_name) RETURN n.course"
r2="MATCH (n:program_name) RETURN n.program"


p_courses = spark.read.format("org.neo4j.spark.DataSource") \
  .option("url", bolt_url) \
  .option("query",r1) \
  .load()
p_courses.show(5)

+--------+
|n.course|
+--------+
|  IST659|
|  IST722|
|  IST769|
|  IST615|
|  IST714|
+--------+
only showing top 5 rows

In [90]:
p_program = spark.read.format("org.neo4j.spark.DataSource") \
  .option("url", bolt_url) \
  .option("query",r2) \
  .load()
p_program.show()

+---------+
|n.program|
+---------+
|       IS|
|       DS|
|      BDC|
|      CCC|
|      MLC|
+---------+

### Question 13

Load the `requirements` and `electives` data into `neo4j` as relationships to the nodes you created in Question 12. Use the `program` data to form the `required` and `elective` course relationships. Demonstrate the relationships in `neo4j` are present by querying back it using one or more Cypher queries.

In [91]:
#13a program course requirements
cql='MATCH (c:course_name),(p:program_name) WHERE c.course in p.required_courses MERGE (c)-[:requirments]->(p)'

programs.write.format("org.neo4j.spark.DataSource")\
  .mode("Overwrite")\
  .option("url", bolt_url) \
  .option("query", cql) \
  .save()
#

In [92]:
#13b program course electives
cql="MATCH (c:course_name),(p:program_name) WHERE c.course in p.elective_courses MERGE (c)-[:electives]->(p)"
programs.write.format("org.neo4j.spark.DataSource")\
  .mode("Overwrite")\
  .option("url", bolt_url) \
  .option("query", cql) \
  .save()

In [93]:
#relationship created

r1="MATCH p=()-[r:electives]->() RETURN p"
r2="MATCH p=()-[r:requirments]->() RETURN p"


p_elective = spark.read.format("org.neo4j.spark.DataSource") \
  .option("url", bolt_url) \
  .option("query",r1) \
  .load()
p_elective.show()

+--------------------+
|                   p|
+--------------------+
|"path[(6)-[141:el...|
|"path[(7)-[142:el...|
|"path[(9)-[143:el...|
|"path[(9)-[144:el...|
|"path[(20)-[145:e...|
|"path[(21)-[146:e...|
+--------------------+

In [94]:
p_required = spark.read.format("org.neo4j.spark.DataSource") \
  .option("url", bolt_url) \
  .option("query",r2) \
  .load()
p_required.show()

+--------------------+
|                   p|
+--------------------+
|"path[(5)-[126:re...|
|"path[(5)-[125:re...|
|"path[(5)-[124:re...|
|"path[(6)-[127:re...|
|"path[(7)-[128:re...|
|"path[(8)-[129:re...|
|"path[(8)-[130:re...|
|"path[(8)-[131:re...|
|"path[(9)-[132:re...|
|"path[(19)-[134:r...|
|"path[(19)-[133:r...|
|"path[(20)-[135:r...|
|"path[(20)-[136:r...|
|"path[(21)-[137:r...|
|"path[(21)-[138:r...|
|"path[(22)-[139:r...|
|"path[(22)-[140:r...|
+--------------------+

### Question 14

Load the `prerequisites` into `neo4j` as relationships to the `course` nodes you created in Question 12. Demonstrate the relationships in `neo4j` are present by querying back it using one or more Cypher queries.

In [95]:
#14 course prerequisites 
cql="MATCH (c:course_name),(c1:course_name) WHERE c.course in c1.prerequisites MERGE (c1)-[:prerequisites]->(c)"

courses.write.format("org.neo4j.spark.DataSource")\
  .mode("Overwrite")\
  .option("url", bolt_url) \
  .option("query", cql) \
  .save()

In [96]:
r3='MATCH p=()-[r:prerequisites]->() RETURN p'

p_prerequired = spark.read.format("org.neo4j.spark.DataSource") \
  .option("url", bolt_url) \
  .option("query",r3) \
  .load()
p_prerequired.show()

+--------------------+
|                   p|
+--------------------+
|"path[(6)-[147:pr...|
|"path[(7)-[148:pr...|
|"path[(9)-[149:pr...|
|"path[(21)-[150:p...|
|"path[(22)-[151:p...|
+--------------------+

### Question 15

Write a Cypher query to display courses which are required by both the `IS` and `DS` programs.

In [97]:
#15 Cypher query courses required in DS and IS


cql='''MATCH (c:course_name)-[r:requirments]->()
WHERE ALL(PROGRAM IN ['IS','DS']WHERE PROGRAM IN c.required_in_programs)
RETURN DISTINCT c.code'''

In [98]:
#Alternate apporoach :

'''MATCH ()-[r:requirments]->(p:program_name)
WHERE p.code = 'IS' OR p.code = 'DS'
WITH collect(DISTINCT p.required_courses) AS courses
RETURN [x IN courses[0] WHERE x IN courses[1]] AS ISDS_courses'''

"MATCH ()-[r:requirments]->(p:program_name)\nWHERE p.code = 'IS' OR p.code = 'DS'\nWITH collect(DISTINCT p.required_courses) AS courses\nRETURN [x IN courses[0] WHERE x IN courses[1]] AS ISDS_courses"

### Question 16

Write a Cypher query to retrieve the `course code`, `course title`, and the count of programs the course is a requirement in. Write as a Cypher query but retrieve the  output as a Spark Dataframe.

In [99]:
#16 Cypher to spark table

cql='''MATCH (c:course_name)-[r:requirments]->(P:program_name)
RETURN DISTINCT c.code as course_code,c.course_name as course_name,count(DISTINCT P.program) as count_programs'''

cnt_programs = spark.read.format("org.neo4j.spark.DataSource") \
  .option("url", bolt_url) \
  .option("query",cql) \
  .load()


cnt_programs.show()

+-----------+--------------------+--------------+
|course_code|         course_name|count_programs|
+-----------+--------------------+--------------+
|     IST659|Data Administrati...|             3|
|     IST722|    Data Warehousing|             1|
|     IST769|Advanced Big Data...|             1|
|     IST615|    Cloud Management|             3|
|     IST714|  Cloud Architecture|             1|
|     IST621|Information Manag...|             2|
|     IST687|Introduction to D...|             2|
|     IST707|Applied Machine L...|             2|
|     IST718|  Big Data Analytics|             2|
+-----------+--------------------+--------------+

### Questions 17,18,19 and 20

These are not spark questions as they use kibana.